
# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.26.1'
DFX_NETWORK='local'
CANISTER_ID_IC_NOTETAKER_BACKEND='uxrrr-q7777-77774-qaaaq-cai'
CANISTER_ID='uxrrr-q7777-77774-qaaaq-cai'
CANISTER_CANDID_PATH='/Users/godson/Desktop/ic-notetaker/ic_notetaker/src/ic_notetaker_backend/ic_notetaker_backend.did'
# END DFX CANISTER ENVIRONMENT VARIABLES